.wy-side-nav-search {
  background-color: #0A1F36;
}

a.icon.icon-home:before {
  background:url('../_images/logo.png');
  width: 208px;
  height: 59px;
  content: '';
  background-repeat: no-repeat;
}

a.icon.icon-home {
  font-size: 0;
}

div.section blockquote {
  line-height: 20px;
  background: #f8f8f8;
  padding: 9px;
  border: 1px solid #eee;
  border-left: 5px solid #eee;
}

div.section blockquote p:last-of-type {
  margin-bottom: 0;
}
