{#
/**
 * @file aegir_resource.html.twig
 * Default theme implementation to present Ægir Resource data.
 *
 * This template is used when viewing Ægir Resource pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aegir_resource()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aegir_resource') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
