.toolbar-icon-aegir-base-aegir-menu:before {
  background-image: url(../images/menu_icon_inactive.png);
}

.toolbar-icon-aegir-base-aegir-menu:active:before,
.toolbar-icon-aegir-base-aegir-menu.is-active:before {
  background-image: url(../images/menu_icon_active.png);
}

